[Desktop Entry]
Name=Miria
GenericName=Miria
Type=Application
Version=1.0
Icon=${SNAP}/bin/data/flutter_assets/assets/images.icon.png
Exec=miria
Comment=Misskey client app for mobile (Linux build)
Terminal=false
StartupNotify=false
